
{{#with celeblist}}
<h2> Details </h2>

<p>Info: {{name}}</p>
<p>ocupation: {{occupation}}</p>
<p>catch phrase: {{catchPhrase}}</p>

<a href="/celebrities/delete/{{_id}}">Delete this celeb ❌</a>

{{/with}}